* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease;
    font-family: sans-serif;
    outline: none;
    border-style: none;
}

body {
    background-image: var(--gd1);
}

:root {
    --max-width-cert: 700px;
    --max-w: 1200px;
    --max-width: var(--max-w);
    --padding: 50px;
    --header-height: 64px;
    --box-shadow: 0 2.5px 10px 0 rgba(0, 0, 0, 0.1);
    --radius: 5px;
    --transition: all 0.2s ease;
}

.container {
    width: 100%;
    max-width: var(--max-w);
    margin: 0 auto;
}

.rnc__notification-container--bottom-right .rnc__notification-item--success,
.rnc__notification-container--bottom-right .rnc__notification-item--danger,
.rnc__notification-container--bottom-right .rnc__notification-item--info,
.rnc__notification-container--bottom-right .rnc__notification-item--warning {
    background: var(--c3);
    backdrop-filter: blur(10px);
}

/* _____________ SCROLL _ STYLES ________________ */
.scroll-style {
    scroll-behavior: smooth;
}
.scroll-style::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--c3);
    border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
    background: var(--c3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-style::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
